h1 {
    background-color: #b2b9bf;
    padding-top: 30px;
    padding-bottom: 30px;
}

form {
    padding-top: 30px;
}

.searchField {
    text-align: center;
    margin: 0 auto;
}

#results {
    text-align: left;
    padding-left: 20px;
}

br{
    line-height: 150%;
    height: 4px;
}

button {
    background-color: #555555;
    color: white;
}
