body {
    background-color:#A3679A;
    color:#EEEDDF;
}
header, main, nav, footer {
    text-align: center;
}
header h1 {
    text-shadow: -.5px 1px yellow;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
nav a {
    padding: 25px;
    padding-bottom: 4px;
    font-size: 1.8em;
    /*removes underline*/
    text-decoration: none; 
    /*by default, links ar blue*/
    color:white;
}
nav a:hover:not(.active) {
    background-color: black;
}
nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    /*transition effect*/
    transition: .9s;
}
/*navigation menu diff. color for active*/
.active {
    background-color: #f7de9e;
}

footer {
    position: relative;
    clear: left;
    font-size: 12px;
}
#me, #welcomeText {
    float: left;
}
#welcomeText {
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    /*margin-bottom: 0px;*/
}
#me img {
    border-radius: 25px;
    height: 400px;
    margin-left: 15%;
    margin-right: 20px;
    /*background-size: 15%;*/
}
#copyright {
    border-bottom-color: black;
}
#csumb_logo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 13%;
    width: 13%;
}
/*about.html exclusive styles*/
table {
    margin: 0px auto;
}
td {
    padding-right: 10px;
    font-size: 1.3em;
}
td strong {
    color: #EEEDDF;
}
/*# means "id"*/
#table-header {
    background-color: #351A00;
}
/*. means "class"*/
.table-row {
    background-color: #FD917C;
}
ul {
    text-align: left;
    padding-left: 25%;
}
.hobby {
    color: #ED924C;
    font-weight: bold;
}