body{
    text-align:center;
    background-color: #FBF279;
}
body input{
    margin-bottom: 10px;
}

fieldset{
    border:dashed;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
}

legend{
    font-family: 'Chonburi', cursive;
    font-size: 22px;
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    letter-spacing: 9px;

}
label{
    font-weight: 900;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;

}

#passw{
    position: relative;
    width: 400px;
    height: 200px;
    margin: auto;
}
#suggested {
    position: absolute;
    border:dashed;
    top: 80px;
    right: 50;
    width: 200px;
    height: 100px;
}
#button {
  font-family: 'Alegreya', serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;

  background: #827af9;
  padding: 12px 0 11px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  min-width: 120px;
  overflow: hidden;

}
