body {
     font-family: 'Open Sans', sans-serif;

}
#scd_content h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.4em;
    background-color: #01294E;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-clip: padding-box;
}
#scd_content h1, p, #content {
    padding-left: 20px;
}
#degree_programs {
    display: flex;
}
#content h2 {
    font-size: 1.7em;
}
#degree_programs #article{
    margin: 15px;
}
#article a{
    display: block;
}
#minor_programs h2 {
    font-size: 1.2em;
}
#minor_programs li {
    padding-bottom: 10px;
}
a{
    color: #4C6C83;
}
